@model TopicTypeDotDTO

    <div class="instructor-bio card no-border-radius">
        <div class="card-body">
            <img src="@Model.TopicTypeAvatar" class="avatar rounded-circle">
            <h4>@Model.TopicTypeName</h4>
            <h5 class="text-primary">Topic Type</h5>
            <p>@Model.TopicTypeDescription</p>
        </div>
    </div>
